---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Forside">
  <img class="h-screen w-screen object-cover" src="/hero.webp" alt="Tiktok brug" />

  <article class="grid container max-w-4xl mx-auto -mt-80">
    <div class="bg-white p-6">
      <div class="pb-6">
        <h1 class="m-0 mb-5">TikTok Trendskift</h1>
        <h2 class="m-0 mb-12">Hvorfor Falder Brugen Blandt Teenagere, Mens Voksne Stiger?</h2>
        <p>Oplev, hvordan TikToks popularitet skifter i Danmark. Mens de yngste løfter scroll-fingeren, er de ældre på vej ind i appen. Se den generelle fald og forstå tendenserne.</p>
      </div>
      <section class="grid grid-cols-3 gap-4 pb-6">
        <div class="col-span-2 hover:scale-105 duration-700">
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h3 class="pb-4">Danskernes brug af TikTok 2020-2023</h3>
            <img class="" src="/graf_1.svg" alt="Danskernes brug af TikTok 2020-2023" />
          </div>
        </div>
        <div class="p-6 hover:scale-105 duration-700 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <h3 class="pb-4">Fordelingen af aldersgrupper på TikTok 2023</h3>
          <img class="" src="/graf_2.svg" alt="Fordelingen af aldersgrupper på TikTok 2023" />
        </div>
        <div class="p-6 hover:scale-105 duration-700 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <h3 class="pb-4">Fald i TikTok-aktivitet Blandt 15-19-årige i Danmark 2020-2023</h3>
          <img class="" src="/graf_3.svg" alt="Fald i TikTok-aktivitet Blandt 15-19-årige i Danmark 2020-2023" />
        </div>
        <div class="col-span-2 hover:scale-105 duration-700">
          <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h3 class="pb-4">Stigning i TikTok-aktivitet Blandt 20-46-årige i Danmark 2020-2023</h3>
            <img class="" src="/graf_4.svg" alt="Stigning i TikTok-aktivitet Blandt 20-46-årige i Danmark 2020-2023" />
          </div>
        </div>
      </section>
      <div>
        <p>TikToks popularitet er ved at skifte blandt danske aldersgrupper. Selvom de unges forbrug falder, er de stadig de største brugere af appen. Samtidig ser vi en stigning i brug blandt 20-46-årige. Disse data giver et klart billede af, hvordan TikToks brug er ændret i Danmark.</p>
      </div>
    </div>
  </article>
</MainLayout>
